.about {
  width: 100%;
  display: flex;
  gap: 30px;
  padding: 24px 120px;
  letter-spacing: 2px;
  img {
    width: 40%;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    text-align: left;
    margin-top: 24px;
    section {
      display: flex;
      flex-direction: column;
      gap: 12px;
      span {
        line-height: 21px;
      }
    }
  }
}

@media only screen and (max-width: 920px) {
  .about {
    flex-wrap: wrap;
    padding: 24px 40px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
}
