.select_templates {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
  &__template {
    width: 180px;
    position: relative;
    height: 250px;
    align-items: center;
    box-sizing: border-box;
    border: 1px solid grey;
    border-radius: 4px;
    background-color: #fff;
    padding: 5px;

    img {
      width: 100%;
      overflow: hidden;
    }
    &__button {
      position: absolute;
      top: 35%;
      left: 5%;
      padding: 8px 12px;
      font-size: 14px;
      font-weight: 500;
      background-color: #007bff;
      color: #ffffff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }
  }
  .active {
    outline: 5px solid rgb(69, 69, 231);
  }
}
